body {
    background-color: #3498db; /* Blue background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#container {
    padding: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #2ecc71; /* Green button color */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60; /* Darker green on hover */
}

.miniCat {
    position: absolute;
    width: 50px; /* Adjust the size of the mini cat */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.miniCat:hover {
    transform: scale(1.2);
}

.miniCat.clicked {
    border: 2px solid #ffffff; /* White border for clicked mini cat */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* White box shadow for clicked mini cat */
}

/* Mini heart animation */
.miniCat.clicked::before {
    content: '♥';
    position: absolute;
    font-size: 24px;
    color: #e74c3c; /* Heart color (change as needed) */
    animation: heartAnimation 1s ease-out;
}

@keyframes heartAnimation {
    0% { transform: scale(0); }
    50% { transform: scale(1.5); }
    100% { transform: scale(0); }
}

